.wrapper-about-me {
    padding-top: 50px;
    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        img {
            position: relative;
            border-radius: 10px;
            max-width: 50%;
            left: 45%;
            filter: drop-shadow(0 0 20px #00000060);
        }
        .br {
            margin-top: 20px;
        }
        p {
            width: 50%;
            color: white;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 1300px) {
    .wrapper-about-me {
        div {
            p {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .wrapper-about-me {
        div {
            grid-template-columns: 1fr 1.5fr;
            img {
                max-width: 100%;
                left: 0;
            }
            p {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .wrapper-about-me {
        div {
            display: flex;
            flex-direction: column;
            img {
                max-width: 75%;
                margin-bottom: 50px;
            }
        }
    }
}