.wrapper-skills {
    padding-top: 50px;
    h2 {
        width: 100%;
        text-align: center;
        font-size: 4rem;
        margin: 50px 0;
        color: white;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 100px;
        row-gap: 25px;
        padding: 20px 100px 100px 100px;
        justify-content: center;
    }
    li {
        width: 100%;
        color: white;
        justify-self: center;
    }
    svg {
        height: 100%;
        width: auto;
    }
    .skill-title {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        height: 50px;
        gap: 25px;
        text-transform: uppercase;
    }
    .bar-fill {
        transform: translateY(-100%);
        height: 10px;
        background-color: white;
    }
    .bar-backing {
        margin-top: 10px;
        height: 10px;
        width: 100%;
        background-color: black;
        opacity: 0.2;
    }
}

@media screen and (max-width: 1800px) {
    .wrapper-skills {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 1300px) {
    .wrapper-skills {
        ul {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}